* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: #333;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body > h1 {
    text-align: center;
    font-size: 2.5rem;
    padding: 20px;
    color: #DDD;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    max-width: calc(4 * 350px);
}

table {
    color: #ddd;
    display: block;
    padding: 20px;
    margin: 20px;
    box-shadow: 4px 4px 10px #000,
                -4px -4px 10px #666;
    overflow: hidden;
    position: relative;
    z-index: 100;
}

table::before {
    content: '';
    display: block;
    position: absolute;
    top: -50%;
    left: -50%;
    border-radius: 50%;
    background: #222;
    width: 200%;
    height: 200%;
    transform: scale(1);
    transition: .5s;
    z-index: 50;
}

table:hover::before {
    transform: scale(0);
}

table caption {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

td {
    width: 34px;
    height: 34px;
    text-align: center;
    cursor: default;
}

td:hover {
    opacity: 1;
}

tbody td:hover {
    text-shadow: 0 0 5px #DDD,
                0 0 10px #DDD;
    border-radius: 50%;
}

tbody td.warning:hover,
tbody td.muted.warning:hover {
    text-shadow: 0 0 5px #ff0000,
                0 0 10px #ff0000;
}

tbody td.muted:hover {
    text-shadow: 0 0 5px #AAA,
                0 0 10px #AAA;
}

.muted {
    color: #AAA;
}

.warning {
    color: #ff0000;
}

.muted.warning {
    color: #d10000;
}